<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <%- include ("sidebar", {currentChannel, privateChannels, loggedInUser}) %>
      <div class="main">
        <div id="message-container">
          Chattmeddelanden: <% for(message of currentChannel.messages) {%>
          <p>
            <% if (typeof message.user.avatar.data != "undefined") {%>
              <img class="avatar" src="data:<%=message.user.avatar.contentType%>;base64,
            <%=message.user.avatar.data.toString('base64')%>" alt="">
            <%} %>
            <%= message.user.username %>:
            <%= message.message %>
          </p>
          <% } %>
        </div>
        <form id="chat-form">
          <input
            id="msg"
            type="text"
            placeholder="Enter Message"
            required
            autocomplete="off"
          />
          <button class="btn">Send</button>
        </form>
      </div>
      <script src="/socket.io/socket.io.js"></script>
      <script src="/js/mainScript.js"></script>
    </div>
  </body>
</html>
