<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Username: <%= user.username %></p>
    <form action="/settings/<%= user._id %>/username" method="POST">
        <input type="text" name="newUsername">
        <button type="submit">Change username</button>
    </form>
    Upload avatar
    <form action="/settings/<%= user._id %>/avatar" method="POST" enctype="multipart/form-data">
        <input type="file" name="avatar" required>
        <input type="submit" value="Upload avatar">
    </form>
    <% if (locals.user.avatar.data) { %>
        <img src="data:<%=user.avatar.contentType%>;base64,<%=user.avatar.data.toString('base64')%>" alt="">
    <%} %>
    <a href="/chat">Go back to chat</a>
</body>
</html>
