<div class="sidebar">
  <div class="channel-container">
    Public channels <% for (channel of channels) { %>
    <p><a href="/chat/<%= channel._id %>"><%= channel.channelname %></a></p>
    <%} %>
    <form action="" id="channel-form">
      <input id="channel"
      type="text"
      placeholder="Enter channel name"
      required
      autocomplete="off">
      <button type="submit">Add channel</button>
    </form>
  </div>
  <div id="private-msg-container">
    Private channels 
    <% for (channel of privateChannels) { %>
      <p><a href="/chat/<%= channel._id %>"><%= channel.channelname %></a></p>
      <%} %>
  </div>

  <div id="online-container">
    Online users
    <div id="online-container2">
    </div>
  </div>
  <div>
    <a href="/settings/<%= loggedInUser %>">Profile</a>
  </div>
</div>
